@import '../../node_modules/bootstrap/scss/bootstrap';

$table-padding: 4px;

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #1166aa;
$yellow: #ffff00;
$orange: #ff9900;
$light-gray: darken($white, 20%);
$light-blue: lighten($blue, 20%);

$conflict-color: $red;
$determinant-color: $yellow;
$dependent-color: $orange;

$danger: $red;

$font-size: 1em;

body {
    margin: 10px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
}

.clickable {
    cursor: pointer;
}

.table {
    display: table;
    text-align: center;
}

.tr {
    display: table-row;

    &.conflict {
        background-color: $conflict-color;

        .td {
            &.determinant {
                background-color: $yellow;
            }

            &.dependent {
                background-color: $orange;
            }
        }
    }
}

.margin-top-bottom {
    margin-top: 4x;
    margin-bottom: 4px;
}

.btn {
    @extend .margin-top-bottom;
}

.conflict-info {
    span {
        padding: $table-padding;
    }

    .conflict {
        background-color: $conflict-color;
    }

    .determinant {
        background-color: $yellow;
    }

    .dependent {
        background-color: $orange;
    }
}

.td {
    display: table-cell;
    padding: $table-padding;
    min-width: 50px;
    white-space: nowrap;
}

.border-basic {
    border: solid 1px $black;
    border-collapse: collapse;
}

.border {
    @extend .border-basic;

    .td {
        @extend .border-basic;
    }
}

.file-input {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: $yellow;
}

.table-container {
    width: 100%;
    max-height: 75vh;
    overflow: auto;
}

.row-highlight {
    background-color: $red;
}

.dep {
    &.clickable {
        &:hover {
            background-color: $light-gray;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
