//@import '../vendor/bootstrap/scss/bootstrap';

$square-size: 3;

$black: #000000;
$red: #dd0000;
$blue: #1166aa;
$light-blue: lighten($blue, 20%);

$danger: $red;

$font-size: 1em;

.clickable {
    cursor: pointer;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}
